
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}

body {

   
    color:#585b63;
    margin:0;
    line-height: 1.5em;
    font-feature-settings: 'liga','dlig';
   
}


/* @media only screen and (min-width: 675px) and (max-width: 1239px) {
    section {
        width:100vw;
    }
}

@media only screen and (min-width: 1240px) and (max-width: 1679px), only screen and (min-width: 1240px) and (max-height: 1049px){
    section {
        width:1160px;
    }
} */